body {
  background: url(https://images.unsplash.com/photo-1496450681664-3df85efbd29f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  height: 100vh;
  /* background-repeat: no-repeat;
  background-size: cover; */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.weather-box {
  border: 1px solid white;
  padding: 40px 60px;
  border-radius: 10px;
  background-color: lavender;
  opacity: 0.5;
}

.weather-btn {
  padding-top: 5vh;
}